.banner {
	background-color: #0ac48c;
	font-family: 'Poiret One', cursive;
	padding: 30px;
	color: white;
}

.heading {
	font-family: 'Poiret One', cursive;
	text-align: center;
	font-weight: bold;
}

p,
li {
	font-family: 'Dosis', sans-serif;
	font-size: 18px;
	text-align: center;


}

li {
	list-style-type: none;
	margin-left: -12px;
}
.navbar {
	display: inline;
	margin-left: 10px;
}

.name {
	font-size: 50px;
	margin-bottom: 0;
	padding:0;
	
}

.title {
	margin-left: 100px;
	margin-top: 0;
}

.familiar {
	background-color: #aae0f2;
	margin: 0 10%;
	padding: 15px;
}

.selfie {
	border-radius: 50%;
	height: 200px;
	margin-top: 2em;
	float: left;

}

.welcome {
	display: inline-block;
	font-size: 60px;
	padding-top: 2em;
	margin-left: 5%;


}

.content {
	padding-top: 100px;
}